* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Spectral', serif;
}

/* ========NAVBAR======== */
#home-header {
    /* background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.1), url('EPts.gif'); */
    background-image: linear-gradient(rgba(109, 0, 136, 0.582),rgba(0,0,0,.1)), url('EPts.gif');
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: 100vh;
    /* color: white; */
    background-position: center;
    background-size: cover;
}

li {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

nav {
    margin-bottom: 50px;
}

.nav-link, .nav-link active {
    font-family: 'Spectral SC', serif;
    
}

li:hover {
    transform: scale(1.1);
   
}


/* #home {
    /* border-bottom: 2px solid darkseagreen;
    padding-bottom: 2px; */


.middle {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* font-family: 'Montserrat', sans-serif; */
    
}

.middle h1, h3 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Spectral', serif;
}

.middle h3 span {
    border-bottom: 2px solid darkseagreen;
}
.middle h3 span:hover {
    border-bottom: 2px solid rgb(121, 14, 0);
    color: white;
    transition: ease-in;
    /* padding-bottom: 6px; */
}

#container {
   margin: 100px; 
   height: 80vh;
   width: 80%;
   align-items: center;
   /* background-color: #0f0f0f; */
   color: rgb(134, 133, 133);
}

.typeText::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0}
    100% {opacity: 0}
  }

  .container {
      width: 100%;
  }

/* ========ABOUT PAGE============= */


.style-body {
    /* background-color: rgb(230, 223, 223); */
    /* background-color: rgb(32, 32, 173); */
    background-color: rgb(95, 3, 95);
    
}

.page-title {
    font-family: "Spectral SC", serif;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    /* margin-bottom: 35px; */
}

.page-title span {
    font-size: 50px;
    color: black;
}

#page-about h1 {
    color: white;
}

#taylorImg {
    height: 250px;
    border-radius: 25%;
    transform: none;
    object-fit: contain;
}

/* #imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.about {
    /* background: rgb(10, 10, 10); */
    /* background: rgb(165, 165, 165); */
    /* background-color: rgb(238, 238, 238); */
    /* background-color: rgb(230, 223, 223); */
    /* background-color: rgb(214, 214, 214); */
    /* background-color: rgb(230, 223, 223); */
    /* background-color: rgb(145, 77, 145); */
    height: 100vh;
    width: 100%;
}

#about-me {
    border-radius: 20px;
    /* height: 100%; */
    width: 100%;
    margin: 25px auto;
}

#about-container {
    margin: 0;
    padding: 0;
}

.personal {
    font-size: 20px;
    text-align: center;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#picture {
    margin: 0 auto;
    max-width: 100%;
    height: 300px;
    border-radius: 10%;
    display: block;
    margin: 30px auto;
}

#who {
    color: white;
    text-align: center;
}

#personal-container {
    margin-top: 30px;

}

#columns {
    display: flex;
}

.col-auto {
    display: inline-block;
    /* height: 300px; */
}

.col-auto h2 {
    text-align: center;
    margin: 0px 0 25px 0;
    color: white;
}


.col-auto h2, p{
    color: black;
}

.list-title {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#skills-container {
    /* background-color: rgb(136, 163, 212); */
    /* background-color: rgb(91, 148, 253); */
    /* background-color: rgb(186, 247, 186); */
    /* background-color: rgb(121, 47, 121); */
    background-color: rgb(148, 89, 148);
    width: 100%;
    margin: 35px 0;
    border-radius: 50px;
}

.skills, .icon {
    color: black;
    text-align: center;
}

.skills {
    list-style: none;
    color: white;
}

.icon {
    margin-top: 15px;
}
p #caption {
    color: white;
}



/* ========PORTFOLIO PAGE========= */
.style-portfolio {
    /* background-color: rgb(174, 202, 255);  */
    background-color: rgb(86, 145, 255); 
    margin: 0;
    padding: 0;
}

#page-portfolio{
    color: white;
}

/* #portfolio {

} */
/* 
.header {
    /* background-color: rgb(172, 127, 127); dope ass color */
    /* background-color: rgb(174, 202, 255);  */


.img-fluid {
    margin: 55px 35px 15px 0;
}

.img-fluid:hover {
    transform: scale(1.05);
}

#caption {
    color: black;
    font-size: 18px;
    text-align: center;
}



/* ========CONTACT FORM ========== */

.styles-contact {
    background-color: rgb(32, 34, 31);;
}

#page-contact {
    color: white;
}

#contact-header {
    /* background-image: url("shutterstock_1308690499.jpeg"); */
    background-color: rgb(32, 34, 31);
    background-position: center;
    /* background-size: cover; */
    height: 100vh;
    width: 100%;
}

form{
    color: white;
    margin-top: 55px; 
}

form label {
    display: flex;
    justify-content: start;
    /* padding-bottom: 15px; */
    margin-top: 15px;
    font-family: 'Spectral', serif;
    font-weight: lighter;
}

#submit {
    margin: 2rem;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5%;
    background: rgb(186, 247, 186);
    color: #0f0f0f;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Spectral SC', sans-serif;
}

#submit:hover {
    background: rgb(90, 41, 90);
    color: white;
}

input {
    width: 15rem;
    color: black;
    max-width: 100%;
}

#message {
    height: 9rem;
    width: 18rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

#socials {
 display: flex;
 align-items: center;
 justify-content: center;
 /* margin: 300px auto; */
}

#contact {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* =======FOOTER======== */
#footer {
    background-color: rgb(14, 10, 65);
    width: 100%;
}

